<div class="space-y-15">
  <div class="text-center">
    <span class="text-4xl">BoBa Form</span>
  </div>

  <form class="space-y-5" [formGroup]="bobaForm" (ngSubmit)="onSubmit()" action="">
    <label for="default-input" class="block mb-2 text-sm font-medium">Menu Name</label>
    <input
      type="text"
      id="default-input"
      placeholder="กรุณากรอกชื่อเมนู"
      formControlName="name"
      class="
        bg-gray-50
        border
        border-gray-300
        text-gray-900
        text-sm
        rounded-lg
        focus:ring-blue-500
        focus:border-blue-500
        placeholder-gray-400
        block
        w-full
        p-2.5
      "
    >

    <label for="default-input" class="block mb-2 text-sm font-medium">Menu Price</label>
    <input
      type="number"
      id="default-input"
      placeholder="กรุณากรอกราคา (บาท)"
      formControlName="price"
      class="
        bg-gray-50
        border
        border-gray-300
        text-gray-900
        text-sm
        rounded-lg
        focus:ring-blue-500
        focus:border-blue-500
        placeholder-gray-400
        block
        w-full
        p-2.5
      "
    >


    <div class="flex justify-between">
      <div>
        <span>Addon</span>
      </div>

      <div (click)="addAddOn()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </div>
    </div>

    <div formArrayName="addOn">
      <div *ngFor="let control of addOnArray.controls; let i = index" [formGroupName]="i">
        <div class="flex gap-5 items-center py-2">
          <input
            type="text"
            id="default-input"
            placeholder="กรุณากรอกชื่อ Add On"
            formControlName="name"
            class="
              bg-gray-50
              border
              border-gray-300
              text-gray-900
              text-sm
              rounded-lg
              focus:ring-blue-500
              focus:border-blue-500
              placeholder-gray-400
              block
              w-full
              p-2.5
            "
          >

          <input
            type="number"
            id="default-input"
            placeholder="กรุณากรอกราคา (บาท)"
            formControlName="price"
            class="
              bg-gray-50
              border
              border-gray-300
              text-gray-900
              text-sm
              rounded-lg
              focus:ring-blue-500
              focus:border-blue-500
              placeholder-gray-400
              block
              w-full
              p-2.5
            "
          >

          <app-base-button
            (click)="removeAddOn(i)"
            btnTitle="ลบ"
          />
        </div>
      </div>
    </div>
  </form>

  <div>
    <app-base-button
      [isDisableButton]="!this.bobaForm.valid"
      (click)="onSubmit()"
      btnTitle="บันทึก"
    />
  </div>
</div>
